<p id="notice"><%= notice %></p>

<h2><%= @assignment.title %></h2>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Points:</b>
  <%= @assignment.points %>
</p>

<h3>Already Scored</h3>

<ul id="scores">
  <% Student.has_score_for(@assignment).each do |student| %>
  <li><%= student.name %> | <%= student.grade_for(@assignment).score %></li>
  <% end %>
</ul>

<%= form_for [@assignment, @grade] do |f| %>
	<%= f.label :student %>
	<%= f.collection_select :student_id, Student.all, :id, :name %>
	<%= f.label :score %>
	<%= f.text_field :score %>
	<%= f.submit "Save Grade" %>
<% end %>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
